.main {
  min-height: 20.5rem;
  display: flex;
  position: relative;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
}

.top {
  align-items:flex-start;
}

.bottom {
  align-items: flex-end;
}

.v-center {
  align-items:center;
}

.left {
  justify-content: start;
}

.right {
  justify-content: end;
}

.center {
  justify-content: center;
}

.text-block-container {
  position: absolute;
  padding: 3rem;
  height: 100%;
  width: 100%;
  top: 0;
}


.text-block {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.btn {
  width: fit-content;
}
